.header-container {
    background: rgba(0, 0, 0, 0.153);
    backdrop-filter: blur(4px);
}

.network-selector-btn {
    transition: all 0.2s;
}

.network-selector-btn:hover {
    background: rgba(0, 0, 0, 0.147);
}

.connected-status {
    transition: all 0.2s;
}

.connected-status:hover {
    background: rgb(0, 0, 0);
}

.profile-pic {
    border: 2px solid rgb(255, 255, 255);
}